<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/list-prof">Professeurs</a></li>
        <li class="breadcrumb-item active">Liste</li>
    </ol>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Etat</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prof of profs">
                <th scope="row">{{ prof.id }}</th>
                <td>{{ prof.nom }}</td>
                <td>{{ prof.prenom }}</td>
                <td>{{ prof.etat }}</td>
                <td>
                    <form class="d-inline">
                        <input type="submit" value="Supprimer" class="btn btn-danger" (click)="deleteProf(prof.id)">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>