<div class="container">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item"><a href="/list-project">Projets</a></li>
        <li class="breadcrumb-item active">Liste</li>
    </ol>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sujet</th>
                <th scope="col">Description</th>
                <th scope="col">Chef de Projet</th>
                <th scope="col">Chercheur</th>
                <th scope="col" *ngIf="user.rules == 'SUPER_USER'">Option</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
                <th scope="row">{{ project.id }}</th>
                <td>{{ project.sujet }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.chef }}</td>
                <td>{{ project.prof }}</td>
                <td>
                    <form class="d-inline">
                        <input type="submit" value="Archiver" class="btn btn-info" *ngIf="user.rules == 'SUPER_USER'">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>