<div class="container">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item"><a href="/list-project">Projets</a></li>
        <li class="breadcrumb-item active">Ajouter</li>
    </ol>
    <form [formGroup]="form">
        <div class="form-group">
            <label>Sujet</label>
            <input type="text" class="form-control" placeholder="First Name" formControlName="nom">
        </div>
        <div class="form-group">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    formControlName="prenom"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label>Chef de Projet</label>
            <select class="form-control" formControlName="etat">
                <option>Interne</option>
                <option>Collaborateur</option>
            </select>
        </div>
        <div class="form-group">
            <label>Chercheur</label>
            <select class="form-control" formControlName="etat">
                <option>Interne</option>
                <option>Collaborateur</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">
            Ajouter Professeur
        </button>
    </form>
</div>