<div class="container">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item"><a href="/list-project">Projets</a></li>
        <li class="breadcrumb-item active">Liste</li>
    </ol>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sujet</th>
                <th scope="col">Description</th>
                <th scope="col">Chef de Projet</th>
                <th scope="col">Chercheur</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let competance of competances">
                <th scope="row">{{ competance.id }}</th>
                <td>{{ competance.nom }}</td>
                <td>{{ competance.description }}</td>
                <td>
                    <form class="d-inline">
                        <input type="submit" value="Supprimer" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>